<ul>
  <li class="folder"> {{folder.name}} <a href="{% url 'add_folder' folder.id %}">+📁</a> <a href="{% url 'add_file' folder.id %}">+📄</a> <a class="delete_symbol" href="{% url 'remove_folder' folder.id %}">⌫</a></li>
  <li>
    {% for subfolder in folder.subfolders.all %}
			{% if subfolder.is_available %}
			 {% include 'mainpage/folder.html' with folder=subfolder %}
			{% endif %}
    {% endfor %}
  </li>
	<li>
		<ul>
			{% for subfile in folder.subfiles.all %}
				{% if subfile.is_available %}
					<li class="file"> <a href="{% url 'view_file' subfile.id %}">{{subfile.name}}</a> <a class="delete_symbol" href="{% url 'remove_file' subfile.id %}">⌫</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</li>
</ul>
