.dark_theme {
	--bg_color: rgb(22, 0, 34);

	--navbars_text_color: rgb(192, 207, 0);
	--navbars_text_color_hover: rgb(118, 128, 0);
	--navbars_text_color_active: rgb(70, 75, 0);

	--navbars_background_color: rgb(88, 0, 135);
	--navbars_background_color_hover: rgb(119, 0, 182);
	--navbars_background_color_active: rgb(143, 0, 220);

	--header_text_color: rgb(73, 255, 0);
	--header_background_color: rgb(30, 79, 238);

	--code_text_color: rgb(255, 253, 176);
	--code_background_color: rgb(19, 47, 137);

	--select_text_color: rgb(125, 255, 81);
	--select_text_color_hover: rgb(96, 194, 64);
	--select_text_color_active: rgb(54, 112, 51);

	--select_background_color: rgb(119, 29, 168);
	--select_background_color_hover: rgb(144, 36, 203);
	--select_background_color_active: rgb(179, 52, 247);
}

.light_theme {
	--bg_color: rgb(229, 255, 253);

	--navbars_text_color: rgb(0, 0, 0);
	--navbars_text_color_hover: rgb(50, 50, 50);
	--navbars_text_color_active: rgb(100, 100, 100);
	
	--navbars_background_color: rgb(32, 180, 255);
	--navbars_background_color_hover: rgb(103, 204, 255);
	--navbars_background_color_active: rgb(160, 223, 255);

	--header_text_color: rgb(0, 0, 0);
	--header_background_color: rgb(138, 255, 120);

	--code_text_color: rgb(0, 0, 0);
	--code_background_color: rgb(216, 255, 210);

	--select_text_color: rgb(0, 0, 0);
	--select_text_color_hover: rgb(50, 50, 50);
	--select_text_color_active: rgb(100, 100, 100);

	--select_background_color: rgb(249, 255, 201);
	--select_background_color_hover: rgb(252, 255, 229);
	--select_background_color_active: rgb(254, 255, 246);
}

body {
	color: var(--text_color);
	background-color: var(--bg_color);
	margin: 0;
	font-family:'Trebuchet MS'
}

pre {
	overflow: scroll;
}

.menu, .tab_bar {
	color: var(--navbars_text_color);
	background-color: var(--navbars_background_color);
}

.file_select, .tab_content {
	background-color: var(--select_background_color);
}

.code, .code_fragment {
	color: var(--code_text_color);
	background-color: var(--code_background_color);
}

.menu > a:hover, .tab:hover {
	color: var(--navbars_text_color_hover);
	background-color: var(--navbars_background_color_hover);
}

.menu > a:active, .tab:active {
	color: var(--navbars_text_color_active);
	background-color: var(--navbars_background_color_active);
}

.header {
	padding: 5px 0;
	font-size: xx-large;
	text-align: center;
	width: 100%;
	color: var(--header_text_color);
	background-color: var(--header_background_color);
}

.file_select li:hover {
	color: var(--select_text_color_hover);
	background-color: var(--select_background_color_hover);
}

.file_select li:active {
	color: var(--select_text_color_active);
	background-color: var(--select_background_color_active);
}

.file_select > ul {
	padding: 0 10%;
}

.code > pre, .code_fragment > pre {
	padding: 0px 10px;
}

.file_select li {
	list-style-type: none;
	padding: 0;

	color: var(--select_text_color);
}

.folder::before {
	content: '📁';
}

.file::before {
	content: '📄';
}

.menu {
	display: flex;
	height: 100%;
}

.tab_bar {
	display: inline-flex;
	width: 100%;
	height: 10%;
}

.tab_content {
	width: 100%;
	height: 90%;
}

.tab_content > p {
	padding: 10px;
	margin: 0;
	color: var(--select_text_color);
}

.menu > a {
	font-size: xx-large;
}

.tab {
	font-size: x-large;
}

.menu > a, .tab {
	display: inline-flex;
	height: 100%;
	padding: 0 20px;
	margin: 0;
	align-items: center;
	text-decoration: none;
}

@media all and (min-width: 1001px) and (max-aspect-ratio: 4/3) and (not (aspect-ratio: 4/3)) {
	.grid {
		--grid_w1: 18vw;
		--grid_w2: 48vw;
		--grid_w3: 28vw;
		--grid_h1: 5vh;
		--grid_h2: 65vh;
		--grid_h3: 24vh;
	}
}

@media all and (min-width: 1001px) and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) and (not (aspect-ratio: 16/9)) {
	.grid {
		--grid_w1: 20vw;
		--grid_w2: 48vw;
		--grid_w3: 26vw;
		--grid_h1: 5vh;
		--grid_h2: 65vh;
		--grid_h3: 24vh;
	}
}

@media all and (min-width: 1001px) and (min-aspect-ratio: 16/9) {
	.grid {
		--grid_w1: 22vw;
		--grid_w2: 48vw;
		--grid_w3: 24vw;
		--grid_h1: 5vh;
		--grid_h2: 65vh;
		--grid_h3: 24vh;
	}
}

@media all and (min-width: 1001px) {
	.grid {
		display: grid;
		grid-template-columns: var(--grid_w1) var(--grid_w2) var(--grid_w3);
		grid-row-gap: 3vh;
		grid-column-gap: 3vw;
		grid-template-rows: var(--grid_h1) var(--grid_h2) var(--grid_h3);
		height: 100%;
		margin: 0;
	}

	.menu {
		grid-area: 1 / 1 / 2 / 4;
	}

	.file_select {
		grid-area: 2 / 1 / 4 / 2;
	}

	.code {
		grid-area: 2 / 2 / 3 / 3;
	}

	.code_fragment {
		grid-area: 2 / 3 / 3 / 4;
	}

	.tabs {
		grid-area: 3 / 2 / 3 / 4;
	}
}

@media all and (max-width: 1000px) {
	.menu {
		height: 40px;
	}

	.file_select {
		width: 80%;
		min-height: 100px;
		max-height: 300px;
		margin: 10px auto 10px auto;
	}

	.code {
		width: 80%;
		min-height: 100px;
		max-height: 500px;
		margin: 10px auto 10px auto;
	}

	.code_fragment {
		width: 80%;
		min-height: 100px;
		max-height: 300px;
		margin: 10px auto 10px auto;
	}

	.tabs {
		width: 80%;
		min-height: 100px;
		max-height: 300px;
		margin: 10px auto 10px auto;
	}
}